*, *:before, *:after {
  box-sizing: border-box;
}

.main {
    float:left;
    width:100%;
    position:relative;
}
.left-side{
	position:absolute;
    top:0; bottom:0; left:0;
    width:0%;
    background:#fff;
}
.right-side{
	position:absolute;
    top:0; bottom:0; right:0;
    width:0%;
    background:#fff;
}
.center-col{
	position:relative;
    left: 0%;
    width:100%;
}
/*
.left-side{
	position:absolute;
    top:0; bottom:0; left:0;
    width:10%;
    background:#000;
}
.right-side{
	position:absolute;
    top:0; bottom:0; right:0;
    width:10%;
    background:#000;
}
*/
.tit{

	font-family:arial,sans-serif;
	font-size: 20px;
	font-style: normal;
	font-variant: normal;
	padding-top: 12%;
	text-transform: uppercase;
	font-weight: 300;
	letter-spacing:0.9px;
	color: #484848;
}

h3{

	font-family:arial,sans-serif;
	font-size: 26px;
	font-style: normal;
	font-variant: normal;
	font-weight: 250;
	color: #F79645;


}

.slider {
  background-image:url('slider1kids.jpg');
  height: 400px;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

.slider .container .slider-row{

	position: absolute;
	bottom: 0;
	left: 20%;
	width: 65%;
	padding-left: 3px;
	padding-top: 3px;
	padding-bottom: 3px;
  	background-color: #F79645;
  	display: inline;
}


.form-control {
	border-radius: 7.5px;
	height: 40px;
	font-size: 16px;
	font-weight: bold;
}

.slider .container  .fa-play {
	padding-top: 2px;
	color: #fff;
	font-size: 2em;
	alignment-baseline: left;
}

.teachers {
  min-height: 470px;
  position: relative;
  padding-top: 2%;
}

.img-circle {
	height: 170px;
	width: 175px;
	overflow:hidden;
	border-radius: 50%;
	display: block;
	margin-left: auto;
    margin-right: auto;

}

.name {
	margin: auto;
	font-family:arial,sans-serif;
	font-size: 15px;
	font-weight: bold;
	font-style: normal;
	font-variant: normal;
	text-align: center;
	padding-top: 10%;
}

.description {
	margin: auto;
	font-family: arial,sans-serif;
	font-size: 15px;
	font-style: normal;
	font-weight: bold;
	font-variant: normal;
	text-align: center;
	padding-top: 4%;
	max-width: 59.5%;
	word-wrap: break-word;
}

.slider2 {

  background-image:url('board.jpg');
  height: 325px;
  opacity: 0.92;
  background-repeat: no-repeat;
  box-shadow: 0px 5px 15px 0px #888888;
  background-size: cover;
  padding-top: 1%;
  position: relative;
  min-height: 500px;
}

.container-text {

	font-family:arial,sans-serif;
	font-size: 50px;
	font-style: normal;
	font-variant: normal;
	text-align: center;
	color:#F79645;
	font-weight: normal;
	letter-spacing:2.25px;
}

.container-text2 {

	font-family:arial,sans-serif;
	font-size: 28px;
	font-style: normal;
	font-variant: normal;
	text-align: center;
	color:#FFF;
	font-weight: lighter;
	letter-spacing:1.1px;
}

.container-text3{
	font-family:arial,sans-serif;
	font-size: 44px;
	font-style: normal;
	font-variant: normal;
	text-align: center;
	max-width: 60%;
	color:#383838;
	font-style: normal;
	font-variant: normal;
	font-weight: normal;
	letter-spacing:1.5px;
	margin-left: 20%
}

.experience {
	position: relative;
  	padding-top: 2%;
  	padding-bottom: 2%;
  	min-height: 370px;
}

.slider3 {
  background-image:url('slider_31.jpg');
  height: 520px;
  width: 100%;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;


}
.slider4 {

  min-height: 585px;
  width: 100%;
  background-image:url('slider4girl.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

.row-bottom{
	width: 100%;
	bottom: 0;
	position: absolute;
	height: 20px;
	background-color: #F79645;
}

.row-top{
	width: 100%;
	top: 0;
	position: absolute;
	height: 20px;
	background-color: #F79645;
}

.teacher-slider{
  position: relative;
  background-image:url('teachers/tslider.jpg');
  min-height: 595px;
  background-repeat: no-repeat;
  background-size: cover;
}
.teacher-slider-row {
	background: rgba(255, 255, 255, 0.8);
	vertical-align: center;
	position: absolute;
	bottom: 45px;
	width: 100%;
	padding-top: 1.5%;
	padding-bottom: 1%;
}

.teacherImage{
	margin-left:25%;
	margin-bottom: 2%;
	float:left;
	position: relative;
	height:70%;
	width: 70%;
	display: block;
}
.teacher-slider .slider-row{
	padding-bottom: 5px;
	background-color: #FFF;
	opacity: 0.8;
	top: 210px;
	min-height: 250px;
	position: absolute;
	width: 100%;
	float: left;
}
.teacher-slider-text {
	padding: 22px;
	font-family:arial,sans-serif;
	font-size: 28px;
	font-style: normal;
	font-variant: normal;
	max-width: 66%;
	text-align: left;
	color:#F79645;
	font-weight: lighter;
	text-transform: uppercase;
	letter-spacing:0.9px;
}
.tspan{
	font-size: 28px;
	font-weight: lighter;
	color:#F79645;
	text-transform: uppercase;
	letter-spacing:0.9px!important;
	max-width:30%;
}
.teacher-slider-p{
	font-family:arial,sans-serif;
	font-size: 16px;
	padding-left: 15px;
	font-style: normal;
	font-variant: normal;
	position: relative;
	text-align: left;
	max-width: 80%;
	float: left;
	color:#383838;
	font-style: normal;
	font-variant: normal;
	font-weight: normal;
	letter-spacing:1.5px;
}
.nopadding {
   padding: 0 !important;
   margin: 0 !important;
   overflow:auto;
}
.teacherTitle{
	text-decoration: underline;
	font-family:arial,sans-serif;
	font-size: 14px;
	font-style: normal;
	font-variant: normal;
	text-transform: uppercase;
	font-weight: 600;
	color: #484848;
	text-align: left;

}
.teacherName{
	font-family:arial,sans-serif;
	font-size: 19px;
	font-style: normal;
	font-variant: normal;
	font-weight: lighter;
	text-transform: uppercase;
	letter-spacing:0.9px;
}

.teacherPageName{

	color: #F79645;
	font-family:arial,sans-serif;
	font-size: 19px;
	font-style: normal;
	font-variant: normal;
	font-weight: lighter;
	text-transform: uppercase;
	letter-spacing:0.9px;
}
.zeit-tableth{
	vertical-align: center;
	text-align: center;
	background-color: #eee;
    height: 35px;
    width: 65px;
	font-family:arial,sans-serif;
	font-size: 16px;
	font-style: normal;
	font-variant: normal;
	font-weight: lighter;
	letter-spacing:0.9px;
	color:#F79645;
}
.zeit-tabletd{
	padding: 4px;
	vertical-align: center;
	text-align: left;
    height: 35px;
	font-family:arial,sans-serif;
	font-size: 16px;
	font-style: normal;
	font-variant: normal;
	font-weight: lighter;
	letter-spacing:0.9px;
}
.zeit-tabletdy{
	padding: 4px;
	vertical-align: center;
	text-align: center;
	color: green;
    height: 35px;
	font-family:arial,sans-serif;
	font-size: 16px;
	font-style: normal;
	font-variant: normal;
	font-weight: lighter;
	letter-spacing:0.9px;
}
.zeit-tabletdx{
	padding: 4px;
	vertical-align: center;
	text-align: center;
	color: #AF0B10;
    height: 35px;
	font-family:arial,sans-serif;
	font-size: 16px;
	font-style: normal;
	font-variant: normal;
	font-weight: lighter;
	letter-spacing:0.9px;
}
.teacherTd{
	vertical-align: center;
    height: 40px;
    width: 100%;
    text-align: left;
	font-family:arial,sans-serif;
	font-size: 16px;
	font-style: normal;
	font-variant: normal;
	font-weight: lighter;
	letter-spacing:0.9px;
}
.teacherFooter{
	max-width: 50%;
	margin-left:7.5%;
	margin-top:1%;
    text-align: left;
	font-family:arial,sans-serif;
	font-size: 16px;
	font-style: normal;
	font-variant: normal;
	font-weight: lighter;
	letter-spacing:0.9px;
}
.teacherBox{
	border: 1px solid;
	border-color: #eee;
 	border-radius: 15px;
    display: block;
    padding: 30px;
    margin: 35px;
}
/*
media queries for text responsiveness
*/

@media(max-width:1208px){
	.teacher-slider .slider-row{
		padding-left: 10%;

	}
	.teacher-slider-text {
		font-size: 25px;
	}
	.teacher-slider-p {
		font-size: 16px;
		max-width: 100%;
	}

}

@media(max-width:780px){
	.teacher-slider .slider-row{
		padding-left: 10%;
		top: 100px;
	}
	.teacher-slider-p{
		font-size: 14px;
		max-width: 100%;
	}
	.teacher-slider-text {
		font-size: 16px;
	}
	.tspan {
		font-size: 16px;
	}
	.teacher-slider-row{
		bottom: 30px;
	}


}
@media(max-width:415px){
	.teacher-slider .slider-row{
		padding-left: 10%;
		top: 20px;
	}


}

@media screen and (min-width: 1550px) {
.left-side{
	position:absolute;
    top:0; bottom:0; left:0;
    width:8%;
    background:#fff;
}
.right-side{
	position:absolute;
    top:0; bottom:0; right:0;
    width:8%;
    background:#fff;
}
.center-col{
	position:relative;
    left: 8%;
    width:84%;
}
}

/*
manz choices for box borders
adjust slider row text
tbody style
*/