h5{

	font-family:arial,sans-serif;
	font-size: 18px;
	font-style: normal;
	font-variant: normal;
	font-weight: 200;
	padding-top: 15%;
}

h3{

	font-family:arial,sans-serif;
	font-size: 26px;
	font-style: normal;
	font-variant: normal;
	font-weight: 250;
	color: #F79645;
}

.slider {
  background-image:url('rsz_istock_000057096632_medium.jpg');
  height: 400px;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

.slider .container .slider-row{

	position: absolute;
	bottom: 0;
	left: 10%;
	width: 75%;
	padding-top: 9px;
	padding-bottom: 9px;
  	background-color: #F79645;
  	display: inline;
}
.slider .container .slider-row2{

	position: absolute;
	bottom: 0;
	left: 85%;
	width: 5%;
	padding-top: 11px;
	padding-bottom: 10px;
  	background-color: #F79645;
  	display: inline;
}


.form-control {
	border-radius: 7.5px;
}

.slider .container .slider-row2 .fa-play {
	padding-top: 2px;
	color: #fff;
	position: relative;
}

.teachers {
  min-height: 470px;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  padding-top: 2%;
}

.img-circle {
	height: 200px;
	width: 200px;
	border-radius: 50%;
	display: block;
	margin-left: auto;
    margin-right: auto;

}

.name {
	margin: auto;
	font-family:arial,sans-serif;
	font-size: 14px;
	font-style: normal;
	font-variant: normal;
	text-align: center;
	padding-top: 10%;
}

.description {
	margin: auto;
	font-family: arial,sans-serif;
	font-size: 14px;
	font-style: normal;
	font-variant: normal;
	text-align: center;
	padding-top: 10%;
	max-width: 100%;
	word-wrap: break-word;
}

.slider2 {

  background-image:url('iStock_000058920914_Small.jpg');
  height: 325px;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

.container-text {

	font-family:arial,sans-serif;
	font-size: 28px;
	font-style: normal;
	font-variant: normal;
	font-weight: 250;
	margin-top: 5%;
	text-align: center;
	text-transform: uppercase;
	color:#F79645;

}

.container-text2 {

	font-family:arial,sans-serif;
	font-size: 28px;
	font-style: normal;
	font-variant: normal;
	font-weight: 250;
	text-align: center;
	color:#FFF;

}

.container-text3{
	font-family:arial,sans-serif;
	font-size: 28px;
	font-style: normal;
	font-variant: normal;
	font-weight: 250;
	text-align: center;
	color:#000;
}

.experience {
  padding-top: 3.5%;
  padding-bottom: 3.5%;
  position: relative;
  min-height: 350px;
}

.slider3 {
  background-image:url('slider_31.jpg');
  height: 520px;
  width: 100%;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;


}
.slider4 {

  height: 620px;
  width: 100%;
  background-image:url('rsz_2girl.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

.row-bottom{
	width: 100%;
	bottom: 0;
	position: absolute;
	height: 20px;
	background-color: #F79645;
}

.row-top{
	width: 100%;
	top: 0;
	position: absolute;
	height: 20px;
	background-color: #F79645;
}